<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dota 2 Counter Picker and advantage browser based on DotaBuff.">
    <meta name="keywords" content="dota 2, counter, picker, picking, dotabuff">
    <meta name="author" content="Onur Aslan">
    <title>Counter Picker based on DotaBuff</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="data.js"></script>
    <script type="text/javascript">

// Fun part starts from here


var DotaBuffCP = {

  VERSION: '0.5',

  initialized: false,

  initialize: function () {
    this.lineup = [ -1, -1, -1, -1, -1 ];
    this.initialized = true;
  },

  heroId: function (name) {

    for (var i in heroes)
      if (heroes[i].toLowerCase ().indexOf (name.toLowerCase ()) >= 0 
        && heroes[i].length === name.length)
        return i;

    return -1;

  },

  heroAbbrLookup: {
    "abaddon": ["avernus"],
    "alchemist": ["razzil"],
    "ancient apparition": ["kaldr", "aa"],
    "anti-mage": ["am"],
    "axe": [],
    "bane": ["atropos"],
    "batrider": [],
    "beastmaster": ["karroch", "rexxar", "bm"],
    "bloodseeker": ["strygwyr", "bs"],
    "bounty hunter": ["gondar", "bh"],
    "brewmaster": ["mangix", "bm"],
    "bristleback": ["rigwarl", "bb"],
    "broodmother": ["bm"],
    "centaur warrunner": ["bradwarden", "cw"],
    "chaos knight": ["ck"],
    "chen": [],
    "clinkz": ["bone"],
    "clockwerk": ["rattletrap", "cw"],
    "crystal maiden": ["rylai", "cm"],
    "dark seer": ["ish", "ds"],
    "dazzle": [],
    "death prophet": ["krobelus", "grobulus", "dp"],
    "disruptor": [],
    "doom": [],
    "dragon knight": ["davion", "dk"],
    "drow ranger": ["traxex", "dr"],
    "earthshaker": ["raigor", "es"],
    "earth spirit": ["kaolin", "es"],
    "elder titan": ["et"],
    "ember spirit": ["xin", "es"],
    "enchantress": ["aiushtha"],
    "enigma": [],
    "faceless void": ["darkterror"],
    "gyrocopter": ["aurel"],
    "huskar": [],
    "invoker": ["kael", "karl", "carl"],
    "io": ["wisp"],
    "jakiro": ["thd"],
    "juggernaut": ["yurnero"],
    "keeper of the light": ["ezalor", "kotl"],
    "kunkka": [],
    "legion commander": ["tresdin", "lc"],
    "leshrac": [],
    "lich": ["ethreain"],
    "lifestealer": ["naix"],
    "lina": [],
    "lion": [],
    "lone druid": ["sylla", "ld"],
    "luna": [],
    "lycan": ["banehallow"],
    "magnus": [],
    "medusa": ["gorgon"],
    "meepo": ["geomancer"],
    "mirana": ["potm"],
    "morphling": [],
    "naga siren": ["slithice", "ns"],
    "natures prophet": ["furion", "np"],
    "necrophos": [],
    "night stalker": ["ns", "balanar"],
    "nyx assassin": ["na"],
    "ogre magi": ["aggron", "om"],
    "omniknight": ["ok"],
    "oracle": [],
    "outworld devourer": ["od", "harbinger"],
    "phantom assassin": ["pa", "mortred"],
    "phantom lancer": ["azwraith", "pl"],
    "phoenix": [],
    "puck": [],
    "pudge": ["butcher"],
    "pugna": [],
    "queen of pain": ["akasha", "qop"],
    "razor": [],
    "riki": [],
    "rubick": [],
    "sand king": ["crixalis", "sk"],
    "shadow demon": ["sd"],
    "shadow fiend": ["nevermore", "sf"],
    "shadow shaman": ["rhasta", "ss"],
    "silencer": ["nortrom"],
    "skywrath mage": ["dragonus", "sm"],
    "slardar": [],
    "sniper": ["kardel"],
    "spectre": ["mercurial"],
    "spirit breaker": ["barathrum", "sb"],
    "storm spirit": ["raijin", "ss"],
    "sven": [],
    "techies": ["goblin","gt","sqee","spleen","spoon"],
    "templar assassin": ["lanaya", "ta"],
    "terrorblade": ["tb"],
    "tidehunter": ["leviathan"],
    "timbersaw": ["rizzrack"],
    "tinker": ["boush"],
    "tiny": [],
    "treant protector": ["rooftrellen"],
    "troll warlord": ["tw"],
    "tusk": ["ymir"],
    "undying": ["dirge"],
    "vengeful spirit": ["shendelzare", "vs"],
    "venomancer": ["lesale"],
    "visage": [],
    "warlock": ["demnok", "wl"],
    "weaver": ["skitskurr"],
    "windranger": ["lyralei", "wr"],
    "witch doctor": ["zharvakko", "wd"],
    "wraith king": ["ostarion", "skeleton king", "wk", "sk"],
    "zeus": []
  },
  
  checkHeroAbbr: function (hero, name) {

    var heroAbbr = this.heroAbbrLookup[hero.toLowerCase ()];

    if (_.isUndefined (name) || _.isUndefined (heroAbbr))
      return false;

    name = name.toLowerCase ();

    for (var i = 0; i < heroAbbr.length; ++i)
      if (heroAbbr[i].indexOf (name) >= 0)
        return true;
    
    return false;
  },

  listHeroes: function (name) {
    $('#hero-list').html ('');
    _.each (heroes, function (hero, key) {

      if (!_.isUndefined (name) && 
          !DotaBuffCP.checkHeroAbbr (hero, name) && 
          hero.toLowerCase ().indexOf (name.toLowerCase ()) < 0) {
        return;
      }

      $('#hero-list').append (
        $('<li>').attr ('data-hero-id', key).html (
          $('<img>').attr ('src', heroes_bg[key])
        ).append (hero)
      );
    });
  },

  calculate: function () {

    var advantages = Array.apply (null, new Array (heroes.length))
                       .map (Number.prototype.valueOf, 0.0);

    for (var h in this.lineup) {

      var hid = this.lineup[h];

      if (hid == -1)
        continue;

      for (var i = 0; i < heroes.length; ++i) {
        if (_.isUndefined (win_rates[hid][i]) || _.isNull (win_rates[hid][i]))
          continue;
        advantages[i] += parseFloat (win_rates[hid][i][0]);
      }

    }

    return advantages;

  },

  generateLink: function () {

    var link = '#';

    for (var i in this.lineup) {
      if (this.lineup[i] == -1)
        link += '/';
      else
        link += heroes[this.lineup[i]] + '/';
    }

    link = link.replace (/ /g, '_');
    link = link.replace (/\/+$/, '');

    return link;
  },

  getVersion: function () {

    var d = new Date (update_time);
    var month = d.getMonth () + 1;
    if (month < 10)
      month = '0' + month;
    var day = d.getDate ();
    if (day < 10)
      day = '0' + day;
    var database_version = d.getFullYear () + month + '' + day;

    return this.VERSION + '.' + database_version;

  }

};



var MainView = Backbone.View.extend ({

  el: '#main-container',

  initialize: function () {
    this.$el.html (_.template ($('#main-view-template').html ()));
    DotaBuffCP.listHeroes ();
    $('#hero-search').focus ();
  },

  events: {
    'keyup #hero-search': 'heroSearch',
    'click #hero-search-reset': 'heroSearchReset',
    'click #hero-list li': 'addHero',
    'click div.lineup div.col-md-2 img': 'removeHero',
    'click #reset-all': 'resetAll',
    'submit form': function () { return false; }
  },

  heroSearch: function (ev) {
    // reset if Esc pressed
    if (ev.keyCode == 27) {
      $(ev.currentTarget).val ('');
      this.heroSearchReset ();
    }
    // add first hero if enter pressed
    else if (ev.keyCode == 13) {
      this.addFirstHero ();
    }
    
    else {
      DotaBuffCP.listHeroes ($(ev.currentTarget).val ());
    }

    return false;
  },

  heroSearchReset: function () {
    DotaBuffCP.listHeroes ();
  },

  switchLink: function () {
    var link = DotaBuffCP.generateLink ();
    location.href = link;
  },

  addFirstHero: function () {
    $('#hero-list li:first').trigger ('click');
  },

  addHero: function (ev) {
    var hid = $(ev.currentTarget).attr ('data-hero-id');
    var pick_i = -1;

    this.heroSearchReset ();
    $('#hero-search').val ('');
    $('#hero-search').focus ();

    for (var i in DotaBuffCP.lineup)
      if (DotaBuffCP.lineup[i] == hid)
        return;

    for (var i in DotaBuffCP.lineup) {
      if (DotaBuffCP.lineup[i] == -1) {
        pick_i = i;
        break;
      }
    }

    if (pick_i == -1)
      return;

    DotaBuffCP.lineup[pick_i] = hid;

    $('#hero-' + pick_i).html ($('<img>').attr ('src', heroes_bg[hid])
                                         .attr ('data-idx', pick_i));

    this.calculateAndShow ();
    this.switchLink ();
  },

  addHeroToIndex: function (hid, pick_i) {
    $('#hero-' + pick_i).html ($('<img>').attr ('src', heroes_bg[hid])
                                         .attr ('data-idx', pick_i));
  },

  removeHero: function (ev) {
    var i = $(ev.currentTarget).attr ('data-idx');
    DotaBuffCP.lineup[i] = -1;
    $('#hero-' + i).html ('');

    this.calculateAndShow ();
    this.switchLink ();
  },

  resetAll: function () {
    for (var i = 0; i < 5; ++i) {
      DotaBuffCP.lineup[i] = -1;
      $('#hero-' + i).html ('');
    }

    this.calculateAndShow ();
    this.switchLink ();
  },

  isEmpty: function () {
    for (var i in DotaBuffCP.lineup)
      if (DotaBuffCP.lineup[i] != -1)
        return false;
    return true;
  },

  showAdvantages: function (div, advantages) {
    var template = $('#counter-template').html ();
    $('#' + div).html ('');
    _.each (advantages, function (advantage, i) {

      for (var l in DotaBuffCP.lineup)
        if (advantage[1] == DotaBuffCP.lineup[l])
          return;

      $('#' + div).append (_.template (template, {
                                     hero_bg: heroes_bg[advantage[1]],
                                     hero_name: heroes[advantage[1]],
                                     advantage: advantage[0].toFixed (2) * -1
                                                 }));
    });
  },

  calculateAndShow: function () {

    if (this.isEmpty ()) {
      $('div.lineup-title').show ();
      $('div.pick-title').hide ();
      $('#reset-all').hide ();
      $('#counters').hide ();
      return;
    } else {
      $('div.lineup-title').hide ();
      $('div.pick-title').show ();
      $('#reset-all').show ();
      $('#counters').show ();
    }

    var advantages = DotaBuffCP.calculate ();

    // lets add indexes (hero ids) first
    for (var i in advantages)
      advantages[i] = [advantages[i], i];

    advantages.sort (function (l, r) {
      return l[0] < r[0] ? -1 : 1;
    });

    this.showAdvantages ('best-picks',
                          advantages.slice (0, advantages.length / 2));

    this.showAdvantages ('worse-picks',
                          advantages.reverse ().slice (0, advantages.length / 2));

    $('#counters').scrollTop (0);
  }

});



var AppRouter = Backbone.Router.extend ({

  initialize: function () {
    this.route (/^(.*?)$/, 'sozdeHerolar');
    this.route (/^about$/, 'about');
  },

  sozdeHerolar: function (heroSelection) {
    if (DotaBuffCP.initialized)
      return;
    else
      DotaBuffCP.initialize ();

    var mainView = new MainView ();

    if (_.isNull (heroSelection))
      return;

    heroSelection = heroSelection.replace (/_/g, ' ');
    var selectedHeroes = heroSelection.split ('/');
    
    for (var i in selectedHeroes) {

      if (i > 4)
        break;

      if (_.isEmpty (selectedHeroes[i]))
        continue;

      var hid = DotaBuffCP.heroId (selectedHeroes[i]);

      if (hid == -1)
        continue;

      DotaBuffCP.lineup[i] = hid;
      mainView.addHeroToIndex (hid, i);
    }

    mainView.calculateAndShow ();
  },

  about: function () {
    $('#main-container').html (_.template ($('#about-page').html (),
                                           { version: DotaBuffCP.VERSION,
                                             last_update: update_time }));
    DotaBuffCP.initialized = false;
  }

});


$(document).ready (function () {
  // set version
  $('#version').text (DotaBuffCP.getVersion ());

  var appRouter = new AppRouter ();

  Backbone.history.start ({ pushState: false, root: '/dotabuffcp/' });
});

    </script>
    <style type="text/css">

       html, body {
         height: 100%;
       }

       body {
         padding: 20px 0 20px 0;
       }

       img {
         border: 1px solid #aaa;
         box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.38);
       }

       .navbar {
         margin-bottom: 20px;
       }

       div.main-wrapper {
         width: 967px !important;
         position: relative;
         height: 100%;
       }

       #main-container {
         position: absolute;
         bottom: 0;
         top: 70px;
         width: 967px !important;
         padding-right: 30px;
       }

       div.main-col {
         position: absolute;
         bottom: 0;
         top: 0;
       }

       div.second-col {
         position: absolute;
         bottom: 0;
         top: 0;
         right: 30px;
       }

       #hero-list {
         position: absolute;
         top: 50px;
         bottom: 0;
         overflow-y: auto;
         left: 15px;
         right: 20px;
       }

       #hero-list,
       #hero-list li {
         list-style-type: none;
         margin: 0;
         padding: 0;
       }

       #hero-list li {
         margin-bottom: 10px;
         cursor: pointer;
       }

       #hero-list li img {
         max-width: 100px;
         margin-right: 10px;
       }

       form.hero-search-form {
         margin-bottom: 10px;
       }

       div.lineup img {
         max-width: 100px;
       }

       div.lineup div.col-md-2 {
         cursor: pointer;
       }

       div.lineup-title {
         margin: 0 20px 0 20px;
         text-align: center;
       }

       #counters {
         position: absolute;
         top: 180px;
         bottom: 0;
         overflow-y: auto;
         overflow-x: hidden;
         left: 30px;
         right: 20px;
         padding-right: 20px;
       }

       #counters div.row img {
         max-width: 90px;
       }

       div.pick-title {
         text-align: center;
         padding-top: 20px;
         font-size: 1.2em;
       }

       div.addthis_toolbox {
         margin-top: 10px;
       }

       div.faq {
         padding: 0 200px 0 200px;
       }

       div.reset-all-div {
         padding-bottom: 20px;
         text-align: center;
       }

       #reset-all,
       #counters,
       div.pick-title {
         display: none;
       }

    </style>
  </head>
  <body>

  <div class="container main-wrapper">


    <!-- lets put a navbar -->

    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DotaBuff CP</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="https://github.com/onuraslan/DotaBuffCP">GitHub</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://raw.githubusercontent.com/onuraslan/DotaBuffCP/gh-pages/CHANGELOG" id="version"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

  <div id="main-container"></div>

  </div><!-- main wrapper -->

  <script type="text/template" id="main-view-template">

    <div class="row">
      <div class="col-md-4 col-xs-4 main-col">

        <form class="form-inline hero-search-form" role="form">
          <div class="form-group">
            <label class="sr-only" for="hero-search">Hero Name</label>
            <input type="text" class="form-control" id="hero-search" placeholder="Search" autocomplete="off">
          </div>
          <button id="hero-search-reset" type="reset" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        </form>

        <ul id="hero-list"></ul>
      </div>
      <div class="col-md-8 col-xs-8 second-col">
        <div class="row alert alert-info row lineup-title">
          <p>Choose enemy heroes from the list on the left</p>
          <p>You can search heroes, and add them quickly by pressing enter</p>
        </div>
        <div class="row reset-all-div">
          <a id="reset-all" class="btn btn-default">Reset all</a>
        </div>
        <div class="row lineup">
          <div class="col-md-1 col-xs-1"></div>
          <div class="col-md-2 col-xs-2" id="hero-0"></div>
          <div class="col-md-2 col-xs-2" id="hero-1"></div>
          <div class="col-md-2 col-xs-2" id="hero-2"></div>
          <div class="col-md-2 col-xs-2" id="hero-3"></div>
          <div class="col-md-2 col-xs-2" id="hero-4"></div>
          <div class="col-md-1 col-xs-1"></div>
        </div>
        <div class="row pick-title">
          <div class="row">
            <div class="col-md-12 col-xs-12">Advantages</div>
          </div>
          <div class="col-md-6 col-xs-6">Best picks</div>
          <div class="col-md-6 col-xs-6">Worst picks</div>
        </div>
        <div id="counters" class="row">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <table class="table table-striped">
                <tbody id="best-picks"></tbody>
              </table>
            </div>
            <div class="col-md-6 col-xs-6">
              <table class="table table-striped">
                <tbody id="worse-picks"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </script>

  <script type="text/template" id="counter-template">

        <tr class="<%
          if (advantage > 10) { %>success<% }
          else if (advantage > 7.5) { %>info<% }
          else if (advantage > 5) { %>warning<% }
          else if (advantage < 0) { %>danger<% }
        %>">
          <td><img src="<%= hero_bg %>"></td>
          <td><%= hero_name %></td>
          <td><%= advantage %>%</td>
        </tr>

  </script>

  <script type="text/template" id="about-page">

    <div class="jumbotron">
      <h2>DotaBuffCP v<%= version %></h2>
      <p>Database last updated on <em><%= last_update %></em></p>
    </div> 

    <div class="faq">

      <h1>FAQ</h1>

      <h3>What is this?</h3>
      <p>This is a counter picker for Dota 2. It shows the advantage percentages
         against a hero or team. Advantage percentages are collected from
         <a href="http://dotabuff.com/">dotabuff.com</a>. This tool simply adds
         advantages together and shows the sum of advantage of each hero.
         It updates database each day, so it will be always sycnhed with dotabuff.
      </p>
      <p>DotaBuffCP designed to be a single page application. This allows you
         to quickly browse advantages. There is no page reloads,
         HTTP requests etc. You can instantly see the result and you can use
         this tool to counter-pick your enemies before matches.</p>

      <h3>Why do I need this?</h3>
      <p>If you don't know what to pick, then this tool may help you.
         You can run it in your in-game browser.</p>
      <p>It's also useful to browse advantages quickly. I was using well-known
         user voted counter picker website. It was slow, not up to date and
         everyone have their own opinion. I needed a stats based fast tool,
         and made this eventually.</p>

      <h3>How can I help?</h3>
      <p>DotaBuffCP is free software. You can contribute to it's development.
         Check <a href="https://github.com/onuraslan/DotaBuffCP">github</a> page
         for bug reports, feature requests, etc. I also love pull requests.</p>

      <h3>Is there an easy way to access?</h3>
      <p>You can also access this page from
        <strong>tinyurl.com/dotabuffcp</strong>. It's easy to remember.</p>

    </div>


  </script>


  <!-- google analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50635373-1', 'onuraslan.github.io');
  ga('send', 'pageview');
  </script>

  </body>
</html>
